<form
  [formGroup]="form"
  (ngSubmit)="sendLogin()"
  accept-charset="UTF-8"
  role="form"
  novalidate
>
  <fieldset>
    <div formGroupName="loginForm" novalidate>
      <div class="form-group">
        <input
          class="form-control"
          placeholder="User"
          type="text"
          formControlName="user"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          placeholder="Password"
          type="password"
          formControlName="pass"
        />
      </div>
    </div>
    <div class="form-group">
      <input
        class="form-control"
        placeholder="Token"
        type="text"
        readonly
        [value]="token"
      />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <input
        class="btn btn-lg btn-success btn-block"
        type="submit"
        value="Login"
      />
      <input
        class="btn btn-lg btn-danger btn-block"
        (click)="logout()"
        value="Logout"
      />
    </div>

    <div *ngIf="result.login" class="alert alert-success" role="alert">
      {{ result.login }}
    </div>
    <div *ngIf="result.error" class="alert alert-danger" role="alert">
      {{ result.error }}
    </div>
  </fieldset>
</form>
