<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="sendLogin()" #loginForm="ngForm" novalidate accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="User"
                  name="user"
                  type="text"
                  [(ngModel)]="login.user"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  type="password"
                  value=""
                  [(ngModel)]="login.pass"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Token"
                  name="user"
                  type="text"
                  readonly
                  [value]="token"
                />
              </div>
              <input
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                value="Login"
              /><br />
              <div *ngIf="result.login" class="alert alert-success" role="alert">
                {{result.login}}
              </div>
              <div *ngIf="result.error" class="alert alert-danger" role="alert">
                {{result.error}}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign up</h3>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="onSubmit()" #heroForm="ngForm" novalidate accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Name"
                  name="name"
                  type="text"
                  [(ngModel)]="form.name"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Age"
                  name="age"
                  type="age"
                  [(ngModel)]="form.age"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="E-mail"
                  name="mail"
                  type="text"
                  [(ngModel)]="form.mail"
                />
              </div>
              <input
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                value="Submit"
              /><br />
              <div *ngIf="result.user" class="alert alert-success" role="alert">
                {{result.user}}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="5"
                  [value]="users"
                ></textarea>
              </div>
              <input
                class="btn btn-lg btn-primary btn-block"
                (click)="listUser()"
                value="Update"
              /><br />
              <div *ngIf="result.users" class="alert alert-success" role="alert">
                {{result.users}}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
