<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
        </div>
        <div class="panel-body">
          <app-login></app-login>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign up</h3>
        </div>
        <div class="panel-body">
          <app-form></app-form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="5"
                  [value]="users"
                ></textarea>
              </div>
              <input
                class="btn btn-lg btn-primary btn-block"
                (click)="listUser()"
                value="Update"
              /><br />
              <div
                *ngIf="result.users"
                class="alert alert-success"
                role="alert"
              >
                {{ result.users }}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
